<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Office Party</title>
	
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'main'%>
</head>

<body>
<div id="content">
<%= @content_for_layout %>
</div>
</body>
</html>
